{% extends "admin/change_list.html" %}
{% load i18n %}

{% block object-tools-items %}
  <li>
    <a href="{% url 'admin:rutas_contract_upload_excel' %}" class="addlink">{% trans "Cargar Excel" %}</a>
  </li>
  <li>
    <a href="{% url 'admin:rutas_contract_download_excel_template' %}" class="addlink">{% trans "Descargar Excel de prueba" %}</a>
  </li>
  <li>
    <a href="{% url 'admin:rutas_contract_generate_tasks' %}" class="addlink">
      🧹 {% trans "Generar limpiezas por día" %}
    </a>
  </li>
  {{ block.super }}
{% endblock %}
